
[V200R003C00]
#
 sysname R4
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load portalpage.zip
#
 drop illegal-mac alarm
#
 set cpu-usage threshold 80 restore 75
#
dhcp enable
#
ip pool vlan400
 gateway-list 10.12.12.1 
 network 10.12.12.0 mask 255.255.255.248 
 dns-list 10.13.13.2 
#
ip pool vlan500
 gateway-list 10.11.11.1 
 network 10.11.11.0 mask 255.255.255.248 
 dns-list 10.13.13.2 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 10.3.3.3 255.255.255.248 
 vrrp vrid 1 virtual-ip 10.3.3.1
#
interface GigabitEthernet0/0/1
#
interface GigabitEthernet0/0/1.300
 dot1q termination vid 300
 ip address 10.13.13.3 255.255.255.248 
 vrrp vrid 2 virtual-ip 10.13.13.1
 arp broadcast enable
#
interface GigabitEthernet0/0/1.400
 dot1q termination vid 400
 ip address 10.12.12.3 255.255.255.248 
 vrrp vrid 3 virtual-ip 10.12.12.1
 arp broadcast enable
 dhcp select global
#
interface GigabitEthernet0/0/1.500
 dot1q termination vid 500
 ip address 10.11.11.3 255.255.255.248 
 vrrp vrid 4 virtual-ip 10.11.11.1
 arp broadcast enable
 dhcp select global
#
interface GigabitEthernet0/0/2
#
interface NULL0
#
ospf 1 
 area 0.0.0.0 
  network 10.3.3.0 0.0.0.7 
  network 10.11.11.0 0.0.0.7 
  network 10.12.12.0 0.0.0.7 
  network 10.13.13.0 0.0.0.7 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return