
[V200R003C00]
#
 sysname R1
#
 board add 0/4 4GET 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load portalpage.zip
#
 drop illegal-mac alarm
#
 set cpu-usage threshold 80 restore 75
#
dhcp enable
#
acl number 2000  
 rule 5 permit source 172.16.20.0 0.0.0.7 
 rule 10 permit source 192.168.15.0 0.0.0.63 
 rule 15 permit source 10.13.13.0 0.0.0.7 
 rule 20 permit source 10.12.12.0 0.0.0.7 
 rule 25 permit source 10.11.11.0 0.0.0.7 
 rule 30 permit source 192.168.1.0 0.0.0.255 
 rule 35 permit source 172.16.11.0 0.0.0.15 
 rule 40 permit source 172.16.12.0 0.0.0.15 
#
ip pool vlan100
 gateway-list 172.16.20.1 
 network 172.16.20.0 mask 255.255.255.248 
 dns-list 10.13.13.2 
#
ip pool vlan200
 gateway-list 192.168.15.1 
 network 192.168.15.0 mask 255.255.255.192 
 dns-list 10.13.13.2 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
 nat address-group 1 200.87.100.3 200.87.100.3
#
interface GigabitEthernet0/0/0
#
interface GigabitEthernet0/0/0.100
 dot1q termination vid 100
 ip address 172.16.20.1 255.255.255.248 
 arp broadcast enable
 dhcp select global
#
interface GigabitEthernet0/0/0.200
 dot1q termination vid 200
 ip address 192.168.15.1 255.255.255.192 
 arp broadcast enable
#
interface GigabitEthernet0/0/1
 ip address 10.10.1.1 255.255.255.252 
#
interface GigabitEthernet0/0/2
 ip address 10.10.1.9 255.255.255.252 
#
interface GigabitEthernet4/0/0
 ip address 200.87.100.1 255.255.255.248 
 nat outbound 2000
#
interface GigabitEthernet4/0/1
#
interface GigabitEthernet4/0/2
#
interface GigabitEthernet4/0/3
#
interface NULL0
#
ospf 1 router-id 1.1.1.1 
 area 0.0.0.0 
  network 10.10.1.0 0.0.0.3 
  network 10.10.1.8 0.0.0.3 
  network 172.16.20.0 0.0.0.7 
  network 192.168.15.0 0.0.0.63 
  network 200.87.100.0 0.0.0.7 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return